body {
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2 {
    text-align: center;
}

#player {
    width: 94px;
    height: 58px;
    /* background-color: red; */
    position: absolute;
    background-image: url('https://i.imgur.com/FNLxYEq.png');
    background-size: contain;
}

.platform {
    background-color: blue;
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/004/682/457/large/simon-sanchez-madera-tilex1.jpg');
    background-size: 250px 250px;
    background-repeat: repeat;
    position: absolute;
}

.danger {
    background-color: red;
    opacity: 25%;
    position: absolute;
}

.goal {
    background-color: yellow;
    background-image: url('https://i.imgur.com/P4aaCLn.png');
    background-size: contain;
    position: absolute;
}

.arenaObject {
    margin: 0%;
    padding: 0%;
    background-color: rgb(65, 65, 65);
    background-image: url('https://art.pixilart.com/88f34e8a7403073.png');
    background-size: 100px 100px;
    background-repeat: repeat;
    position: absolute;
}

.antiGravity {
}

#floor {
    width: 100%;
    height: 100px;
    bottom: -80px;
}

#ceiling {
    width: 100%;
    height: 100px;
    top: -80px;
}

#left-wall {
    width: 100px;
    height: 100%;
    right: -80px;
    bottom: 0;
}

#right-wall {
    width: 100px;
    height: 100%;
    left: -80px;
    bottom: 0;
}