body {
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2 {
    text-align: center;
}

#player {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    /* background-image: url('https://cdn.donmai.us/sample/08/1c/__ononoki_yotsugi_monogatari_and_1_more_drawn_by_m_aoi_w__sample-081cb90ff13585b5e8e7e101f15a23c2.jpg'); */
    background-size: cover;
}

.platform {
    background-color: blue;
    position: absolute;
}

.danger {
    background-color: red;
    opacity: 25%;
    position: absolute;
}

.goal {
    background-color: yellow;
    position: absolute;
}

.arenaObject {
    margin: 0%;
    padding: 0%;
    background-color: rgb(65, 65, 65);
    position: absolute;
}

.antiGravity {
}

#floor {
    width: 100%;
    height: 100px;
    bottom: -80px;
}

#ceiling {
    width: 100%;
    height: 100px;
    top: -80px;
}

#left-wall {
    width: 100px;
    height: 100%;
    right: -80px;
    bottom: 0;
}

#right-wall {
    width: 100px;
    height: 100%;
    left: -80px;
    bottom: 0;
}